# flyctl launch added from .gitignore
**/conf.yml
**/packages
**/node_modules
**/.serverless
**/*.pyc
**/bin
**/.idea
**/.pytest_cache
**/.aws-sam
**/.venv

# flyctl launch added from .pytest_cache/.gitignore
# Created by pytest automatically.
.pytest_cache/**/*

# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*
fly.toml
